@model IEnumerable<Core_Project.Models.MechanicCls>
<table class="table table-striped table-hover table-bordered shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Specialisation</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.id</td>
                <td>@s.name</td>
                <td>@s.phone</td>
                <td>@s.spec</td>
                <td>@s.exp</td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="AdminProfile" asp-action="AdminProfile_Pageload" method="get">
    <button type="submit" class="btn btn-primary">Go Back</button>
</form>